body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* background-color: red; */
}

#map {
    height: 70vh;
}

footer a{
    text-decoration: none;
    color: white;
}