body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* background-color: red; */
}

/* [id*="map"]{
    height: 70vh;
} */

.map {
    height: 200px;
    background-color: red;
}

.mapContainer {
    width: 400px;
}

footer a{
    text-decoration: none;
    color: white;
}

